.home-two-page {
  position: relative;
  min-height: 4897px;
  background: #ffffff;
}

.home-two-footer {
  left: 50%;
  top: 4191.66px;
  transform: translateX(-50%);
}

@media (max-width: 1439px) {
  .home-two-page {
    min-height: 63.75vw;
  }

  .home-two-footer {
    left: auto;
    transform: none;
  }
}
